html, body {
  margin: 0;
  padding: 0;
  color: #262626;
  font-family: 'Roboto', Helvetica-neue, Helvetica, Arial, sans-serif, Times-new-roman; }

p {
  font-size: 15px;
  line-height: 1.6em; }

.container {
  max-width: 700px;
  margin: 0 auto;
  display: block; }

.row {
  width: 100%;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px; } }

.info-box-container {
  border: 1px solid #737373;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 20px;
  position: relative; }

.info-box-header {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 20px; }

.info-box-message p {
  margin-top: 0;
  margin-bottom: 15px; }

.info-box-message p:last-child {
  margin-bottom: 0; }

.close-icon-container {
  position: absolute;
  right: 30px;
  top: 22px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 0px solid transparent;
  padding-bottom: 2px;
  padding-right: 5px; }

.close-icon-container:hover, .close-icon-container:focus, .close-icon-container:active {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 1px solid red;
  outline: none;
  cursor: pointer;
  padding-bottom: 0; }

.close-icon-container:hover .close-text, .close-icon-container:focus .close-text, .close-icon-container:active .close-text {
  color: red; }

.close-icon-container:hover .close-icon, .close-icon-container:focus .close-icon, .close-icon-container:active .close-icon {
  padding-bottom: 0; }

.close-icon-container:hover .close-icon .cross-1, .close-icon-container:hover .close-icon .cross-2, .close-icon-container:focus .close-icon .cross-1, .close-icon-container:focus .close-icon .cross-2, .close-icon-container:active .close-icon .cross-1, .close-icon-container:active .close-icon .cross-2 {
  background-color: red; }

.close-text {
  font-size: 13px;
  padding-top: 2px;
  font-weight: 300;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.close-icon {
  height: 15px;
  padding: 5px;
  float: left;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.close-icon .cross-1, .close-icon .cross-2 {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 15px;
  height: 1px;
  background-color: black; }

.close-icon .cross-1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 4px; }

.close-icon .cross-2 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -1px; }

.hide {
  display: none; }

@media screen and (max-width: 767px) {
  .info-box-container {
    padding: 60px 15px 30px; }
  .info-box-header {
    text-align: center; }
  .close-icon-container {
    top: 20px;
    right: 15px; } }
